/* Importando a fonte Quicksand Bold */
@font-face
  font-family: 'Quicksand'
  font-weight: bold
  src: url('/fonts/quicksand/static/Quicksand-Bold.ttf') format('truetype')
@font-face
  font-family: 'Quicksand'
  font-weight: 300
  src: url('/fonts/quicksand/static/Quicksand-Light.ttf') format('truetype')
/* Importando a fonte Quicksand Medium */
@font-face
  font-family: 'Quicksand'
  font-weight: medium
  src: url('/fonts/quicksand/static/Quicksand-Medium.ttf') format('truetype')
/* Importando a fonte Quicksand Regular */
@font-face
  font-family: 'Quicksand'
  font-weight: normal
  src: url('/fonts/quicksand/static/Quicksand-Regular.ttf') format('truetype')
/* Importando a fonte Quicksand SemiBold */
@font-face
  font-family: 'Quicksand'
  font-weight: 600
  src: url('/fonts/quicksand/static/Quicksand-SemiBold.ttf') format('truetype')
