
header
	display: block
	nav.headerNav
		display: flex
		margin: auto
		flex-direction: row
		align-items: center
		justify-content: space-around
	ul.headerMenu
		list-style: none
		display: flex
		flex-direction: row
		gap: 15px
		font-size: 16px
		font-weight: 300
		a
			font-family: 'Quicksand'
			color: $secondary
			text-decoration: none
			&:hover
				font-weight: bold
	.headerActiveLink
		font-weight: 600
	ul.headerRedes
		list-style: none
		display: flex
		flex-direction: row
		gap: 50px
