@import layout
button#hamburger
	position: fixed
	backgound-color: $primary
	border: none
	border-radius: 5px
	padding: 5px
	left: 5px
	top: 5px
	z-index: 999
	margin: 15px
header#menu
	display: block
	position: fixed
	background-color: $primary
	width: 100%
	transform: translateX(0)
	z-index: 999
	@include media-small
		transition: 1s
		height: 100%
		width: 100%
		background-color: $primary
		position: fixed
		transform: translateX(-100%)
		z-index: 998
	nav.headerNav
		display: flex
		margin: auto
		flex-direction: row
		align-items: center
		justify-content: space-around
		@include media-small
			flex-direction: column
			height: 100%
	ul.headerMenu
		list-style: none
		display: flex
		flex-direction: row
		gap: 15px
		font-size: 16px
		font-weight: 300
		@include media-small
			flex-direction: column
			align-items: center
			padding: 0
		a
			font-family: 'Quicksand'
			color: $secondary
			text-decoration: none
			@include media-small
				padding: 15px
			&:hover
				font-weight: bold
	.headerActiveLink
		font-weight: 600
		&:hover
			font-weight: normal
	ul.headerRedes
		list-style: none
		display: flex
		flex-direction: row
		gap: 50px
		@include media-small
			padding: 0
