@import layout
.home
	div.background-image
		background-image: url('/svg/padrao-fundo-1.svg')
		background-color: $primary
		position: relative
		height: 400px
		z-index: -1
		div.background-image-2
			background-image: linear-gradient($primary 10%, rgba(0,0,0,0) )
			height: 100px
			width: 100%
			position: absolute
			z-index: inherit
	p
		font-size: 1.4em
		margin: auto
	.servicoAmbulancia
		margin-top: 150px
		font-size: 40px
		width: 40%
		@include media-small
			font-size: 20px
			width: 90%
			margin-top: 50px
		@include media-medium
			font-size: 30px
	section.home-section-first
		background-color: $secondary
		color: $primary
		padding: 100px
		@include media-small
			padding: 0
		ul
			list-style: none
			display: grid
			grid-template-columns: auto auto
			grid-gap: 50px
			width: 60%
			margin: auto
			padding: 0
			@include media-small
				grid-template-columns: auto
				width: 90%
				padding: 100px 0
			@include media-medium
				width: 90%
			li
				margin: auto
				width: 250px
				height: 250px
				position: relative
	section.carrossel
		background-image: url('/svg/padrao-fundo-2.svg')
		background-color: $primary
