@import '../../layout'
@import ../../components/atendimentoTop.module
@import sessaoBanner.module
@import sobre.module

.aberto
	background-image: url(/svg/padrao-fundo-2.svg)
	background-color: $primary

.video
	background-color: $primary-medium
	display: flex
	justify-content: center
	padding: 50px 0
	img
		width: auto
		height: 250px
		max-width: 500px
		max-height: 250px
		border-radius: 25px
		@include media-small
			width: 90%
			height: 250px
			max-width: 90%
