@import '../layout'
.sessaoBanner
	height: fit-content
	header
		width: 100%
		height: 600px
		display: block
		position: relative
		@include media-small
			max-height: 500px
		img
			margin-top: 65px
			position: relative
			object-fit: cover
			width: 100%
			height: 100%
			@include media-small
				margin-top: 0px
				max-height: 500px
		div
			position: absolute
			background-image: linear-gradient(rgba(0,0,0,0) 60%, $primary )
			width: 100%
			height: calc(100% + 65px )
			z-index: 2
			@include media-small
				height: 100%
	div
		position: relative
		height: fit-content
		padding-bottom: 170px
		display: flex
		flex-direction: column
		align-items: center
		@include media-small
			padding-bottom: 100px
		img
			position: absolute
			top: -100px
			z-index: 2
			@include media-medium
				max-width: 600px
			@include media-small
				max-width: 350px
				top: -170px
