@import '../layout'
section.footer
	background-color: $tertiary
	main
		display: grid
		grid-template-columns: auto auto auto
		width: 50%
		height: 200px
		align-items: center
		margin: auto
		div
			width: 100%
			div
				width: 5px
				height: 100%
				background-color: $secondary
		aside
			// width: 100%
footer
	display: flex
	align-items: center
	justify-content: center
	p
		display: inline-block
		margin-right: 25px
		span
