@import ../layout
.hamburger
	position: fixed
	backgound-color: $primary
	border: none
	border-radius: 5px
	padding: 5px
	left: 5px
	top: 5px
	z-index: 999
	margin: 15px
.menu
	display: block
	position: fixed
	background-color: $primary
	width: 100%
	transform: translateX(0)
	z-index: 999
	@include media-small
		transition: 1s
		height: 100%
		width: 100%
		background-color: $primary
		position: fixed
		transform: translateX(-100%)
		z-index: 998
	> nav
		display: flex
		margin: auto
		flex-direction: row
		align-items: center
		justify-content: space-around
		@include media-small
			flex-direction: column
			height: 100%
	div:nth-child(2) ul
		list-style: none
		display: flex
		flex-direction: row
		gap: 15px
		font-size: $font-primary
		font-weight: 300
		@include media-small
			flex-direction: column
			align-items: center
			padding: 0
			font-size: $font-medium
		li
			@include media-small
				margin: 15px 0
		a
			font-family: 'Quicksand'
			color: $secondary
			text-decoration: none
			&:hover
				font-weight: 600
			@include media-small
				padding: 15px
	.headerActiveLink
		font-weight: 600
		&:hover
			font-weight: 400
	div:last-child ul
		list-style: none
		display: flex
		flex-direction: row
		gap: 50px
		@include media-small
			padding: 0
