@import '../../layout'
@import atendimento.module

.aberto
	background-image: url(/svg/padrao-fundo-2.svg)
	background-color: $primary

.formulario
	padding-bottom: 150px
	> h2
		font-size: $font-large
		margin: 25px 0
