@import '../../layout'
@import ../../components/atendimentoTop.module
@import './carrossel.module'
@import './formulario.module'

.aberto
	background-image: url(/svg/padrao-fundo-2.svg)
	background-color: $primary

.mainSection
	background-color: $primary
	position: relative
	> div
		width: 100%
		height: 200px
		position: absolute
		background-image: linear-gradient($primary-extra-light, $primary)
	h2
		width: 60%
		font-size: $font-xlarge
		margin: 100px auto 0 auto
		font-weight: 400
		position: relative
		top: -75px
		@include media-xlarge
			top: -90px
			font-size: 3.5rem
		@include media-small
			font-size: $font-medium
	a > button
		padding: 20px 25px
		margin: 70px 0
		font-family: 'Quicksand'
		font-weight: 400
		font-size: $font-primary
		border: none
		background: $secondary
		border-radius: 10px
		color: $primary
		&:hover
			cursor: pointer
		strong
			font-weight: 700
		@include media-xlarge
			font-size: 1.2rem

.articleFirst
	background-image: url('/images/ambulancia-em-evento-estacionada.png')
	background-size: cover
	font-size: $font-medium
	position: relative
	height: 400px
	display: flex
	align-content: center
	@include media-small
		background-size: cover
		background-position: top center
	> div
		background-color: rgb(121, 27, 40, .8)
		filter: grayscale(0)
		width: 100%
		height: 100%
		position: absolute
	@include media-small
		font-size: 1.2rem
	@include media-xlarge
		font-size: 1.7rem
	p
		z-index: 100
		width: 60%
		margin: auto
		@include media-small
			width: 80%
			text-align: justify

.sectionInside
	display: flex
	flex-direction: row
	align-items: start
	justify-content: center
	gap: 25px
	width: 60%
	margin: auto
	font-weight: 500
	> img
		width: 200px
	@include media-small
		flex-direction: column
	strong
		font-weight: 400
	article
		width: 50%
		text-align: start
		@include media-small
			width: 100%
		@include media-xlarge
			font-size: 1.2rem
		p
			margin: 0 0 25px 0
