/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./app/styles/style.sass ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Importando a fonte Quicksand Bold */
@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  src: url("/fonts/quicksand/static/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 300;
  src: url("/fonts/quicksand/static/Quicksand-Light.ttf") format("truetype");
}
/* Importando a fonte Quicksand Medium */
@font-face {
  font-family: "Quicksand";
  font-weight: medium;
  src: url("/fonts/quicksand/static/Quicksand-Medium.ttf") format("truetype");
}
/* Importando a fonte Quicksand Regular */
@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url("/fonts/quicksand/static/Quicksand-Regular.ttf") format("truetype");
}
/* Importando a fonte Quicksand SemiBold */
@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  src: url("/fonts/quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}
header {
  display: block;
}
header nav.headerNav {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header ul.headerMenu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}
header ul.headerMenu a {
  font-family: "Quicksand";
  color: #EBEAEA;
  text-decoration: none;
}
header ul.headerMenu a:hover {
  font-weight: bold;
}
header .headerActiveLink {
  font-weight: 600;
}
header ul.headerRedes {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

body {
  background-color: #791B28;
}
